{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<body>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Новостной портал</h1>
          <h5>Интернет-издание, специализирующиеся в сборе и выдаче общетематических новостей или новостных материалов на одну тему.</h5>
            </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Рекомендуемые</h2>
            <p>На основе вашей активности подобраны те новости, которые интересны именно вам.</p>
          </div>
          <div class="col-md-4">
            <h2>Надежность</h2>
            <p>Источник не требует проверки в достоверности информации.. </p>
            </div>
          <div class="col-md-4">
            <h2>Дизайн</h2>
            <p>Сайт крайне удобен и интуитивно понятен. Все заголовки легко воспринимаются.</p>
            </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
</body>

{% endblock %}